.section-title{
    text-align: center;
    padding: 50px 0;
    p{
        color: var(--main-color);
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
}